.Rproj.user
.Rhistory
.RData
.DS_Store
template-old.tex
theworld.png
ufdissertation.log
thesisdown.Rproj
thesis.log
texput.log
template.toc
template.out
template.lot
template.log
template.lof
template.aux
